$menuitem-spacing: 1rem;

.container--header {
  .header__menu-bar {
    margin-left: 1rem;
  }

  .header__menuitems {
    @include horizontal-ul;
  }

  .header__menuitem {
    margin-left: $menuitem-spacing / 2;
    margin-right: $menuitem-spacing / 2;
  }

  .header__version-info {
    font-family: $font-family-base;
    font-size: remify(12px);
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
