@mixin absolute-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.editor {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: $white;
}

.editor__canvas {
  // border: dashed 1px #00f;
}

.editor__guide {
  // border: solid 1px #f00;
  position: absolute;
  top: -25px;

  g rect {
    fill: $gray-600;
    width: 12.5%;
    height: 20px;
  }

  g text {
    font-family: $font-family-monospace;
    font-style: italic;
    font-weight: 700;
    font-size: remify(12px);
    fill: $gray-300
  }
}

.canvas {
  // border: dashed 1px #0f0;
  @include absolute-top-left;
}

.canvas__body {
  // border: dotted 1px #f00;
  image-rendering: pixelated;
  image-rendering: optimizeSpeed;
}

.grid {
  @include absolute-top-left;
  pointer-events: none;
}

.grid__body {
  // border: dashed 1px #00f;

  // SVG
  line {
    stroke: rgba(0, 0, 0, .3);
    stroke-width: .5px;

    &:first-child,
    &:last-child {
      stroke-width: 2px;
    }
  }
}
