.layout {
  // border: solid 1px #f00;
}

.layout {
  &.layout--root {
    display: grid;
    grid-template-rows: 3rem auto;
    // grid-template-columns: auto 20rem;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .layout__body {
    display: flex;
  }

  &.layout--header {
    background-color: $gray-300;
  }

  &.layout--editor {
    position: relative;
    background-color: $gray-100;
  }

  &.layout--sidebar {
    background-color: $gray-100;
    padding: 0 1rem;
    overflow-y: scroll;
  }
}
