.layout {
  border: solid 1px #f00;
}

.layout {
  &.layout--root {
    display: grid;
    grid-template-rows: 3rem auto;
    grid-template-columns: auto 20rem;
    height: 100vh;
  }

  &.layout--header {
    grid-column-end: span 2;
  }

  &.layout--editor {
    position: relative;
  }
}
