$menubar-primary-color: $gray-700;
$menubar-text-color: $menubar-primary-color;

$menuitem-text-color: $menubar-text-color;
$menuitem-hover-text-color: $blue;

.#{$ui-prefix}--menubar {
  // border: solid 1px #f00;
  color: $gray-700;
  font-family: $font-family-monospace;
  font-size: $menubar-font-size;
  font-style: italic;
  font-weight: 600;
}

.menubar__items {
  @include horizontal-ul;
  margin: 0;
  display: inline-flex;
}

.menuitem {
  // border: solid 1px #f00;
  margin-left: remify(4px);
  padding: .5rem 1rem;
  border-top: solid 4px transparent;
  border-bottom: solid 4px transparent;

  &:hover {
    color: $menuitem-hover-text-color;
    border-bottom-color: $gray-700;
  }
}
