@mixin _make-palette-colors {
  $_class: #{$prefix}-palette-color-picker;
  $_btn-class: #{$_class}__button;

  .#{$_class} {
    border: solid 1px #f00;
    @include annotate(palette);
  }

  .#{$_btn-class} {
    border: none;
    height: 1.3rem;
  }
}

@include _make-palette-colors();
