.layout {
  // border: solid 1px #f00;
}

.layout {
  &.layout--root {
    display: grid;
    grid-template-rows: 3rem auto;
    // grid-template-columns: auto 20rem;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
