$_grid-class: #{$prefix}-button-grid;

.#{$_grid-class} {
  // border: solid 1px #f00;
  display: grid;
  border-radius: 3px;
  overflow: hidden;
  // border: solid 1px #f00;

  &.c-3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
}

.#{$_grid-class}:not(:first-of-type) {
  margin-top: $spacing-normal;
}

.#{$_grid-class} {
  &--gap {
    &-hairline {
      grid-gap: 1px;
    }
  }
}
