/// Prefixes

$prefix: c;
$debug-root: 'debug--annotate';
$layout-prefix: 'layout';
$component-prefix: 'component';
$ui-prefix: 'ui-component';

//

$spacing-base: 1rem;
$font-size-base: 16px;

/// Colors

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

// Derived colors

$colors: () !default;
$colors: map-merge(
  (
    'divider': rgba(0, 0, 0, .2),
  ),
  $colors,
);

$application-background: $gray-100;

//

$z-index-base: 1;
$z-index-editor: 10;
$z-index-editor-overlay: 15;
$z-index-overlay: 20;

/// Fonts

$font-family-serif: 'IBM Plex Serif', serif;
$font-family-sans-serif: 'IBM Plex Sans', 'Inter UI', sans-serif;
$font-family-monospace: 'IBM Plex Mono', 'Hack', monospace;

$font-family-base: $font-family-sans-serif;

$font-size-small: $font-size-base * .875;
$font-size-tiny: $font-size-base * .75;

$font-weight-semibold: 500;
$font-weight-bold: 700;

// Sizes

$z-index-coeff: 1;

/**
 * Based on Material Design Elevation Guidelines.
 * See: https://material.io/design/environment/elevation.html#default-elevations
 */
$z-indexes: (
  dialog: 24,
  modal-bottom-sheet: 16,
  modal-side-sheet: 16,
  nav-drawer: 16,
  fab: 12,
  bottom-sheet: 8,
  side-sheet: 8,
  bottom-nav-bar: 8,
  bottom-app-bar: 8,
  menu: 8,
  sub-menu: 8,
  card-picked: 8,
  button-pressed: 8,
  fab-snack: 6,
  top-bar-scrolled: 4,
  top-bar-rest: 4,
  base: 0,
);

$line-widths: (
  hairline: 1px,
  thin: 2px,
  normal: 4px,
  thick: 8px,
);

$font-sizes: (
  tiny: $font-size-base * .75,
  small: $font-size-base * .875,
  normal: $font-size-base,
);

$spacing-sizes: (
  tiny: $spacing-base * .2,
  small: $spacing-base * .5,
  normal: $spacing-base,
);

/// Spacing

$spacing-normal: $spacing-base * .5;
$spacing-small: $spacing-base * .33;

$grid-gap-none: 0;
$grid-gap-hairline: line-width(hairline);
$grid-gap-thin: 2px;
$grid-gap-normal: 4px;

/// Base components

$button-padding: .5rem 1rem;
$button-border-width: 2px;
$button-border-style: solid;
$button-height: remify(30px);

///

$info-font-size: remify(12px);
$info-font-weight: 700;
$info-background-color: $gray-700;
$info-text-color: $gray-300;
$info-padding: .2rem .5rem;
$info-border-color: $gray-300;
$info-border-width: remify(2px);

/// Components

$c-panel-background-color: $gray-800;

$c-button-background-color: $gray-700;
$c-button-padding: $spacing-small;
$c-button-text-color: $gray-500;
$c-button-font-size: remify($font-size-base) * 0.8;
$c-button-font-weight: $font-weight-semibold;
$c-button-border-radius: 0.2rem;

$c-button-hover-background-color: $gray-500;
$c-button-hover-text-color: $gray-300;


$menubar-font-size: remify(14px);

/// Assets

$image-logo: url('../assets/logo.svg');

//

$layout-border-color: $gray-500 !default;
