@mixin _make-app-header {
  $_class: #{$prefix}-app-header;

  .#{$_class} {
    // border: solid 1px #f00;
  }

  .#{$_class}__brand {
    position: relative;
    overflow: hidden;
  }

  // .#{$_class}__body {
  //   border: dashed 1px #00f;
  // }

  .#{$_class}__title {
    position: absolute;
    z-index: 1;
    top: 40%;
    right: .5rem;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-family: $font-family-base;
    font-style: italic;
    font-weight: 700;

    &--meta {
      position: absolute;
      bottom: -30%;
      right: 0;
      font-size: 10px;
    }
  }

  .#{$_class}__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-55%) translateY(-50%) scale(.2) rotate(15deg);
  }

  .#{$_class}__meta {
    font-size: font-size(tiny);
    align-self: center;
    justify-self: end;
    padding-right: .5rem;
  }

  .#{$_class}__body {
    align-self: center;
    justify-self: center;
  }
}

@include _make-app-header();

